# Data Science Tools and Ecosystem

In this notebook , Data Science Tools and Ecosystem are Summarized

**Objectives :**
- list popular languages in data science
- list popular libraries in data science
- list popular environments in data science
- perform some arthimetic operations

Some of the popular languages that Data Scienctists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scienctists inclide:
1. Pandas
2. Numpy
3. Matplotlib
4. scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Zeppelin Noteboks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
k=200/60
print(k)

3.3333333333333335

## Author
Korukonda Jayanth Kumar